<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="students.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="students.Properties.Settings.shashaHelpConnectionString" connectionString="Data Source=DESKTOP-1G0OJRF;Initial Catalog=shashaHelp;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="students.Properties.Settings.peregoncevKPConnectionString1" connectionString="Data Source=wsr;Initial Catalog=peregoncevKP;User ID=peregoncevKP" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <students.Properties.Settings>
            <setting name="peregoncevKPConnectionString" serializeAs="String">
                <value>Data Source=wsr;Initial Catalog=peregoncevKP;User ID=peregoncevKP;Password=145968</value>
            </setting>
            <setting name="devConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-1G0OJRF;Initial Catalog=shashaHelp;Integrated Security=True</value>
            </setting>
        </students.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1460.0.58" newVersion="20.1460.0.58" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
